doctype html
html
	head
		meat(charset="utf-8")
	body
		form(action="/submit" method="POST")
			p
				input(type="text" name="title")
			p
				textarea(name="description")
			p
				input(type="submit")
